@media (max-width: 1200px)
    .welcome
        &__header
            font-size: 55px
            line-height: 70px
    .sections
        padding: 0 122px
    .container
        justify-content: space-between
        &__img
            max-width: 574px
        &__text
            max-width: 300px
            h2 
                font-size: 32px
        &__imgBefore
            max-height: 400px
            max-width: 409px
            margin-left: 51px
            margin-top: 159px
            &_secondChange
                height: 345px
                margin-left: 0
            &_thirdChange
                max-height: 506px
                max-width: 308px

        &__imgAfter
            max-height: 278px
            max-width: 409px
            &_secondChange
                max-height: 316px
                margin-right: 57px
                margin-top: 29px
            &_height
                max-height: 324px
                top: 410px
    .opportunities
        padding: 197px 0 175px 0;
    .footer
        padding: 87px 153px 0 135px;
    